.container {
    max-width: 90%;
}

.article-container {
    max-width: 70%;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
}


element.style {
    max-width: 900px;
    max-height: 400px;
}

.featured-image {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
}